body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
li {
  text-align: center;
}
li span {
  display: block;
}
input {
  display: inline;
}
form {
  position: relative;
}
li h5 {
  font-weight: 600;
}
#inputButton {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 12px;
}
#inputButton i {
  font-size: 20px;
}
#locationButton {
}
#locationButton button {
  border: none;
  margin-top: 8px;
  padding: 8px 10px;
  border-radius: 8px;
}

#locationButton button i {
  font-size: 20px;
}

.container {
  width: 50%;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: aliceblue;
}
.mainHeader {
  padding: 20px;
}
.daysForecast {
  background-color: #f3f3f3;
  color: #002942;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px;
  overflow: hidden;
}
.daysForecast p {
  margin-left: 20px;
}
.daysForecast i {
  color: lightblue;
}
.daysForecast ul li {
  padding: 20px;
  transition: all 150ms ease-in-out;
}
.daysForecast ul li:hover {
  background-color: #fff;
  border-radius: 10px;
}

.detailWrapper {
  padding: 20px;
}

.detailIcon {
  font-size: 80px;
  color: rgb(236, 236, 149);
  padding-left: 150px;
}
